<header class="header">
  <div class="logo-container"></div>
  <nav class="nav__links">
    <a
      *ngFor="let link of links"
      [routerLink]="link.link"
      class="link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ link.title !== "Profile" ? link.title : "" }}
      <app-badge *ngIf="link.title === 'Watchlist'"></app-badge>
      <app-user-badge
        [image]="imageUrl"
        *ngIf="link.title === 'Profile'"
      ></app-user-badge>
      <!-- user-badge -->
    </a>
    <button type="button" *ngIf="isLoggedIn" class="link" (click)="logout()">
      logout
    </button>
  </nav>
</header>
