<li
  class="card"
  title="View Details"
  role="link"
  tabindex="0"
  (click)="navigate($event)"
  (keypress)="navigate($event)"
  (mouseenter)="showActions = true"
  (mouseleave)="showActions = false"
>
  <p class="error" *ngIf="error && notificationIsVisible" [@fade]>{{ error }}</p>
  <p class="loading" *ngIf="loading">Loading...</p>
  <p class="success" *ngIf="success && notificationIsVisible" [@fade]>
    Marked as watched
  </p>
  <div class="action-icons" *ngIf="showActions" [@fade]>
    <div
      class="remove-icon"
      title="Remove from watchlist"
      (click)="onRemoveFromWatchlist($event)"
      appStopPropagation
    ></div>
    <div
      class="seenlist-icon-checked"
      *ngIf="isInSeenlist"
      title="This movie is marked as watched"
    ></div>
    <div
      *ngIf="!isInSeenlist"
      class="seenlist-icon"
      title="Mark as watched"
      (click)="onAddToSeenlist($event)"
      appStopPropagation
    ></div>
  </div>

  <div class="actions-mobile">
    <button
      class="remove-button-mobile"
      (click)="onRemoveFromWatchlist($event)"
      appStopPropagation
    >
      Remove from watchlist
    </button>
    <button
      class="seenlist-button-mobile"
      *ngIf="!isInSeenlist"
      (click)="onAddToSeenlist($event)"
      appStopPropagation
    >
      Mark as watched
    </button>
    <button *ngIf="isInSeenlist" class="seenlist-button-mobile-checked" disabled>
      ✓&nbsp;&nbsp; Movie is marked as watched!
    </button>
  </div>
  <img [src]="imgLink" alt="" class="image" />
  <div class="movie-info">
    <p class="title">{{ title }}</p>
    <div>
      <span>{{ year }} |</span>
      <span>{{ runtime }} |</span>
      <span>{{ genre }}</span>
    </div>
    <p>Stars: {{ actors }}</p>
    <p class="plot">{{ plot }}</p>
  </div>
</li>
