.seenlist-page {
  padding-top: 3rem;

  .list {
    list-style: none;
    display: grid;
    grid-auto-rows: 1fr;
    justify-items: center;
    justify-content: center;
    color: var(--gray-light);
    width: 90%;
    margin: 4.5rem auto 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 22rem));
    gap: 2rem;
  }

  .error {
    text-align: center;
    color: red;
  }
}

@media (max-width: 64em) {
  .seenlist-page .list {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 40rem) {
  .seenlist-page {
    h1 {
      font-size: 1.5rem;
    }
  }
}
