:host {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background: var(--gray-darkest);
  max-width: none;

  .footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    font-size: 0.85rem;
  }
}
