.mobile-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  gap: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  background: var(--gray-darkest) !important;
  height: 100vh;
  width: 100vw;
  animation: slide 0.2s;

  .link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--gray-light);
    text-decoration: none;
    transition: all 0.25s ease-out;
    text-transform: uppercase;
    display: block;
    backface-visibility: hidden;
    font-size: 1.8rem;
  }

  .active {
    color: var(--color-primary);
  }
}

@keyframes slide {
  from {
    transform: scale(0) translateY(-100%);
  }
  to {
    transform: scale(1) translateY(0);
  }
}
