<h1 class="title">LOGIN</h1>
<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />
    <p
      *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
      class="error"
    >
      Please enter a valid email!
    </p>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" id="password" autocomplete="on" formControlName="password" />
    <p
      *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"
      class="error"
    >
      Password must be at least 6 symbols!
    </p>
  </div>
  <div class="form-control button-div">
    <button>Login</button>
  </div>
</form>
