<h1 class="title">REGISTER</h1>
<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" />
    <p
      *ngIf="
        !registerForm.get('username')?.valid && registerForm.get('username')?.touched
      "
      class="error"
    >
      Please enter a valid username!
    </p>
  </div>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />
    <p
      *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.touched"
      class="error"
    >
      Please enter a valid email!
    </p>
  </div>
  <div formGroupName="passwords" class="passwords">
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" autocomplete="on" />
      <p
        *ngIf="
          !registerForm.get('passwords.password')?.valid &&
          registerForm.get('passwords.password')?.touched
        "
        class="error"
      >
        Password must be at least 6 symbols!
      </p>
    </div>
    <div class="form-control">
      <label for="repeat-password">Repeat Password</label>
      <input
        type="password"
        id="repeat-password"
        formControlName="repeatPassword"
        autocomplete="on"
      />
      <p
        *ngIf="
          registerForm.hasError('notEqual', 'passwords') &&
          registerForm.get('passwords.repeatPassword')?.touched
        "
        class="error"
      >
        Passwords must match
      </p>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
  <div *ngIf="!loading" class="form-control button-div">
    <button>Sign Up</button>
  </div>
  <p *ngIf="!loading && error" class="http-error">{{ error }}</p>
</form>
