<div class="explore-page">
  <h1 class="title">What our users are watching...</h1>
  <app-search-input (onchange)="saveQuery($event)"></app-search-input>
  <app-spinner *ngIf="loading"></app-spinner>
  <p *ngIf="error" class="error">{{ error }}</p>
  <ul class="list" *ngIf="movies.length > 0">
    <app-base-movie-card
      *ngFor="let movie of movies | filter: query"
      [imgLink]="movie.poster"
      [title]="movie.title"
      [id]="movie.id"
      [isInSeenlist]="movie.checker.isInSeenlist"
      [isInWatchlist]="movie.checker.isInWatchlist"
    ></app-base-movie-card>
  </ul>
</div>
