@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap");
:root {
  --color-primary: rgb(69, 226, 55);
  --color-primary-light: rgb(125, 248, 114);
  --color-primary-darker: rgb(102, 168, 15);
  --color-primary-darkest: rgb(56, 85, 2);
  --gray-light: rgb(240, 240, 240);
  --gray-darker: rgb(206, 211, 216);
  --gray-darkest: rgb(16, 16, 16);
  --color-danger: rgb(194, 20, 35);
  --color-danger-light: rgb(249, 16, 35);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-sarif;
  background: radial-gradient(
    circle,
    rgba(22, 66, 17, 1) 13%,
    rgba(0, 0, 0, 0.8802871490393032) 100%
  );
  line-height: 1.4;
  color: var(--gray-darker);
}

app-root {
  position: relative;
  min-height: 100vh;
  display: block;

  main {
    padding: 6rem 0 8rem 0;
    min-width: 320px;
    max-width: 2000px;
    margin: 0 auto;
  }
}

router-outlet {
  display: none;
}

h2 {
  opacity: 0.8;
  font-size: 1.8rem;
  text-align: center;
  color: var(--gray-light);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--gray-light);
  text-transform: uppercase;
  font-weight: 600;
}
